:root {
  /*  ===============================
      Colors
      ===============================   */
  --bg-Violet: hsl(257, 40%, 49%);
  --SoftMagenta: hsl(300, 69%, 71%);

  /* ### Primary */

  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* ### Accent */

  --Blue: hsl(248, 32%, 49%);

  /* ### Neutral */

  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);

  /* ===============================
     Fonts
     ===============================  */

  --ff-Poppins: "Poppins", sans-serif;
  --fs-fontsize: 1rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* ==============================
   Body
   ==============================  */

body {
  font-family: var(--ff-Poppins);
  font-size: var(--fs-fontsize);
  font-weight: var(--fw-400);
}

/* ==============================
Layout
============================== */

/* ================================
   Typography
   ================================ */
