:root {
  /*  ===============================
      Colors
      ===============================   */

  /* ### Primary */

  --Red: hsl(0, 100%, 74%);
  --Green: hsl(154, 59%, 51%);

  /* ### Accent */

  --Blue: hsl(248, 32%, 49%);

  /* ### Neutral */

  --DarkBlue: hsl(249, 10%, 26%);
  --GrayishBlue: hsl(246, 25%, 77%);

  /* ===============================
     Fonts
     ===============================  */

  --ff-Poppins: "Poppins", sans-serif;
  --fs-fontsize: 1rem;
  --fw-400: 400;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;
}

/* ==============================
   Body
   ==============================  */

body {
  font-family: var(--ff-Poppins);
  font-size: var(--fs-fontsize);
  font-weight: var(--fw-400);
  background-color: var(--Red);
  background-image: url(./assets/images/bg-intro-mobile.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: center;
  color: white;
  line-height: 1.6;
  letter-spacing: 0.02em;
}

@media (min-width: 768px) {
  body {
    background-image: url(./assets//images/bg-intro-desktop.png);
  }
}

/* ==============================
Layout
============================== */

main {
  min-height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

/* ================================
   Typography
   ================================ */
